@import 'variables';

.app-header {
  max-width: $max-width;
  
  margin: $espaciado auto; 
  padding: 24px $padding-lateral;
  text-align: center;
  color: $blanco;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  


  padding-bottom: 16px; 
  border-bottom: 2px solid $blanco-10;
  margin-bottom: 10px;
}