@import 'variables';
@import 'header';
@import 'add-task';
@import 'task';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $negro;
  font-family: 'Roboto', sans-serif;
   

}

.todo-container {
 
  width: calc(100% - ($padding-lateral * 2));
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}